.encabezado {
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(198, 148, 148, 0.918);
  border: double 2px white;
  background-image: linear-gradient(225deg, #b6baff 0, #7f94ff 25%, #486ee5 50%, #0149a6 75%, #00296e 100%);
}

header img {
  background-color: aqua;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-content: center;
}

body {
  background-color: #F2F3F4;
}

h2 {
  color: #AD281B;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  justify-content: center;
  display: flex;
}

.contenedor {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.viaje {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(20, 20, 22, 0.637);
}

.boton {
  border: outset;
  font-weight: bold;
  font-family: inherit;
  color: rgba(2, 2, 14, 0.795);
  border-radius: 10px 10px 10px 10px;
  padding: 15px;
  width: 200px;
  margin: 30px;
  background-color: beige;
}

.boton:hover {
  background-color: yellow;
  color: Green;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: inset;
  transition: ease-out 0.4s;
}

footer {
  background-image: linear-gradient(225deg, #b6baff 0, #7f94ff 25%, #486ee5 50%, #0149a6 75%, #00296e 100%);
  color: #F2F3F4;
  text-align: center;
  height: 80px;
}

.footer-links {
  padding: 30px;
  color: #F2F3F4;
}
.fecha1 {
  background-image: radial-gradient(circle at 4.55% -4.17%, #f1efcd 0, #abadb7 50%, #5b71a1 100%);
  justify-content: center;
  border: groove;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  border-color: #F2F3F4;
  color: #343e49;
}

.contenedorFecha {
  width: 100%;
  display: flex;
  justify-content:center;


}

.hijoFecha {
  display: flex;
  flex-direction: column;
  width: 30%;

 }

 #botonPagar {
  border: outset;
  font-weight: bold;
  font-family: inherit;
  color: rgba(2, 2, 14, 0.795);
  border-radius: 10px 10px 10px 10px;

  background-color: beige;

}

#botonPagar:hover {
  background-color: yellow;
  color: Green;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: inset;
  transition: ease-out 0.4s;
}
#error {
color:red;
align-items: baseline;
}




